<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath*:*.properties"/>

    <!-- 缓存管理器 -->
    <bean id="cacheManager" class="org.crazycake.shiro.RedisCacheManager">
        <property name="redisManager" ref="redisManager" />
    </bean>


    <bean id="redisManager" class="org.crazycake.shiro.RedisManager">
        <property name="host" value="${redis.host}"/>
        <property name="port" value="${redis.port}"/>
        <property name="expire" value="${redis.expire}"/>
        <property name="timeout" value="${redis.timeout}"/>
        <property name="password" value="${redis.password}"/>

    </bean>

    <!-- 单点登录realm-->
    <bean id="newGradingRealm"  class="com.lingchaomin.auth.server.web.base.shiro.realm.AuthServerCasRealm">
        <property name="casServerUrlPrefix" value="${cas.server.url.prefix}"/>
        <property name="casService" value="${cas.service}"/>
        <property name="cacheManager" ref="cacheManager"/>
        <property name="cachingEnabled" value="true"/>
        <!-- 身份验证和授权缓存的开启可以避免后台多次查询数据库-->
        <property name="authenticationCachingEnabled" value="true"/>
        <property name="authenticationCacheName" value="authenticationCache"/>
        <property name="authorizationCachingEnabled" value="true"/>
        <property name="authorizationCacheName" value="authorizationCache"/>
        <property name="userCheck" ref="userCheck"/>
        <property name="appKey" value="${cas.app.key}"/>
    </bean>

    <bean id="casFilter" class="com.lingchaomin.auth.cas.shiro.common.filters.YunbeiCasFilter">
        <property name="failureUrl" value="/casFailure.jsp"/>
        <property name="unknownAccountUrl" value="/error/account_unknown"/>
        <property name="lockeAccountUrl" value="/error/locked_account"/>
        <property name="bindSuccessRedirectUrl" value="/"/>
    </bean>

    <!-- 会话ID生成器 -->
    <bean id="sessionIdGenerator" class="org.apache.shiro.session.mgt.eis.JavaUuidSessionIdGenerator"/>

    <!-- 会话Cookie模板 -->
    <bean id="sessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <constructor-arg value="sid"/>
        <property name="httpOnly" value="true"/>
        <property name="maxAge" value="-1"/>
    </bean>




    <bean id="sessionDAO" class="com.lingchaomin.auth.cas.shiro.common.session.AuthServerSessionDao">
        <property name="activeSessionsCacheName" value="com.lingchaomin.auth.shiro-activeSessionCache"/>
        <property name="sessionIdGenerator" ref="sessionIdGenerator"/>
        <property name="redisManager" ref="redisManager"/>
        <property name="cacheManager" ref="cacheManager"/>
     </bean>

    <!-- 会话验证调度器 -->
    <bean id="sessionValidationScheduler" class="org.apache.shiro.session.mgt.quartz.QuartzSessionValidationScheduler">
        <property name="sessionValidationInterval" value="1800000"/>
        <property name="sessionManager" ref="sessionManager"/>
    </bean>

    <!-- 会话管理器 -->
    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <property name="globalSessionTimeout" value="1800000"/>
        <property name="deleteInvalidSessions" value="true"/>
        <property name="sessionValidationSchedulerEnabled" value="true"/>
        <property name="sessionValidationScheduler" ref="sessionValidationScheduler"/>
        <property name="sessionDAO" ref="sessionDAO"/>
        <property name="sessionIdCookieEnabled" value="true"/>
        <property name="sessionIdCookie" ref="sessionIdCookie"/>
    </bean>

    <!-- support cas subject -->
    <bean id="casSubjectFactory" class="org.apache.shiro.cas.CasSubjectFactory" />

    <!-- 安全管理器 -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="newGradingRealm"/>
        <property name="sessionManager" ref="sessionManager"/>
        <property name="cacheManager" ref="cacheManager"/>
        <property name="subjectFactory" ref="casSubjectFactory"/>
    </bean>

    <!-- 相当于调用SecurityUtils.setSecurityManager(securityManager) -->
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="org.apache.shiro.SecurityUtils.setSecurityManager"/>
        <property name="arguments" ref="securityManager"/>
    </bean>


    <!--cas单点登出过滤器-->
    <bean id="logoutFilter" class="com.lingchaomin.auth.cas.shiro.common.filters.LogoutFilter">
        <property name="redirectUrl" value="${cas.logout.redirect.url}"/>
    </bean>

    <bean id="casLogoutFilter" class="com.lingchaomin.auth.cas.shiro.common.filters.CasLogoutFilter">
        <property name="sessionManager" ref="sessionManager"/>
    </bean>

    <bean id="curUserFilter" class="com.lingchaomin.auth.cas.shiro.common.filters.CurUserFilter">
        <property name="userCheck" ref="userCheck"/>
    </bean>

    <bean id="forceLogoutFilter" class="com.lingchaomin.auth.cas.shiro.common.filters.ForceLogoutFilter"/>

    <!-- Shiro的Web过滤器 bean id 与web.xml中的filterName需要一致-->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="${cas.login.url}"/>
        <!--<property name="successUrl" value="${cas.success.url}"/>-->
        <property name="filters">
            <util:map>
                <!--<entry key="authc" value-ref="formAuthenticationFilter"/>-->
                <entry key="cas" value-ref="casFilter"/>
                <entry key="logout" value-ref="logoutFilter"/>
                <entry key="casLogout" value-ref="casLogoutFilter"/>
                <entry key="curUser" value-ref="curUserFilter"/>
                <entry key="forceLogout" value-ref="forceLogoutFilter"/>
            </util:map>
        </property>
        <property name="filterChainDefinitions">
            <value>
                <!--/** = anon-->
                /remoteService = anon
                /logout = logout
                /authenticated = casLogout,cas
                /casFailure.jsp = anon
                /error/** = anon
                /cas = casLogout,cas
                /verify/** = anon
                /user/register = anon
                /user/bindQQ = anon
                /css/** = anon
                /js/** = anon
                /images/** = anon
                /force_logout=anon
                /**= casLogout,forceLogout,curUser,user
            </value>
        </property>
    </bean>

    <!-- Shiro生命周期处理器-->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>

</beans>