<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>云贝用户权限管理平台</title>

    <!-- 全局css -->
    <link href="/css/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="/css/minified/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/minified/core.min.css" rel="stylesheet" type="text/css">
    <link href="/css/minified/components.min.css" rel="stylesheet" type="text/css">
    <link href="/css/minified/colors.min.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap-table.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>用户权限管理平台</title>
</head>
<body style="background:#fff;" >
<!-- Content area -->
<div class="content" style="background: rgb(255, 255, 255); color: rgb(26, 179, 148); text-align: center top: 43.8px;" >
    <header class="site-header jumbotron" style="background:#fff;"><div class="container" style="text-align:center;"><div class="row"><div class="col-xs-12"><h1>Welcome</h1><p>欢迎使用权限管理系统<br></p></div></div></div></header>
</div>
<!-- /content area -->
</body>
</html>