<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>云贝用户权限管理平台</title>

    <!-- 全局css -->
    <link href="/css/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="/css/minified/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/minified/core.min.css" rel="stylesheet" type="text/css">
    <link href="/css/minified/components.min.css" rel="stylesheet" type="text/css">
    <link href="/css/minified/colors.min.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap-table.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>用户权限管理平台</title>
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/vue.min.js"></script>
    <script src="/js/lib/router.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="/js/lib/x-editable.js"></script>
    <script src="/js/lib/bootstrap-table.min.js"></script>
    <script src="/js/lib/bootstrap-table-mobile.js"></script>
    <script src="/js/lib/blockui.min.js"></script>
    <script src="/js/lib/bootbox.min.js"></script>
    <script src="/js/lib/sweet_alert.min.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/service/user.js"></script>
</head>
<body >
<div class="content">

    <div class="col-md-12">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h6 class="panel-title">用户信息列表</h6>
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a data-action="collapse"></a></li>
                    </ul>
                </div>
                <a class="heading-elements-toggle"><i class="icon-menu"></i></a>
            </div>

            <table id="userTable" data-toggle="table" data-id-field="id" data-mobile-responsive="true" data-editable-emptytext="Default empty text." data-editable-url="/user/modifyById">

                <thead>

                <!--#if($shiro.hasPermission("user:modify"))-->
                <!--<tr>-->
                <!--<th data-field="id" data-visible="false" data-align="center" data-editable="true">id</th>-->
                <!--<th data-field="user_nick" data-align="center" data-editable="true">昵称</th>-->
                <!--<th data-field="mobile" data-align="center" data-editable="true">手机号</th>-->
                <!--<th data-field="descr" data-align="center" data-editable="true">备注</th>-->
                <!--<th data-field="available" data-align="center" data-editable="false">状态</th>-->
                <!--<th class="text-center table-button">操作</th>-->
                <!--</tr>-->
                <!--#else-->
                <tr>
                    <th data-field="id" data-visible="false" data-align="center" data-editable="true">id</th>
                    <th data-field="user_nick" data-align="center" data-editable="false">昵称</th>
                    <th data-field="mobile" data-align="center" data-editable="false">手机号</th>
                    <th data-field="descr" data-align="center" data-editable="false">备注</th>
                    <th data-field="available" data-align="center" data-editable="false">状态</th>
                    <th class="text-center table-button">操作</th>
                </tr>
                <!--#end-->

                </thead>

                <tbody>
                #foreach($user in $users)
                <tr>
                    <td class="text-right">$user.id</span></td>
                    <td class="text-right">$user.userNick</span></td>
                    <td class="text-right">$user.mobile</td>
                    #if($user.descr)
                    <td class="text-right">$user.descr</td>
                    #else
                    <td class="text-right">--</td>
                    #end

                    #if($user.locked)
                    <td class="text-right"><span class="label label-danger">锁定</span></td>
                    #else
                    <td class="text-right"><span class="label label-info">正常</span></td>
                    #end

                    <td>
                        <ul class="icons-list">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-menu9"></i>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a  user="$user.id" href="#" class="del"> <i class="icon-bin"></i>删除</a></li>
                                    <li><a  user="$user.id" ref="#" class="lock"> <i class="icon-lock"></i>锁定用户</a></li>
                                    <li><a  user="$user.id" href="#" class="unlock"> <i class="icon-unlocked"></i>解锁用户</a></li>
                                </ul>
                            </li>
                        </ul>
                    </td>

                </tr>
                #end
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
